* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: $black;
}

ul {
  list-style: none;
}

.contentContainer {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 24px;
}
@media (max-width: $mobile) {
  .contentContainer {
    padding: 24px;
  }
}

@media (min-width: $mobile) {
  .only-mobile {
    display: none !important;
  }
}

@media (max-width: $mobile) {
  .only-desktop {
    display: none !important;
  }
}
